* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
.navi {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    display: flex;
    background-color: transparent;
    
}

.logo {
    display: flex; /* Use flexbox for the logo section */
    align-items: center; /* Center items vertically */
}

.logo a {
    text-decoration: none;
    color: white;
    align-items: center;
}
.logo a h1 {
    margin: 10px;
    font-size: 24px;
}
.logo a h1 span {
    color: rgb(228, 186, 49);
}
.menu {
    flex: 1;
    text-align: right;
    margin: 28px 100px 0 0;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.5s;
}
.menu ul li a:hover {
    color: rgb(228, 186, 49);
}
.menuicon {
    margin: auto;
    color: rgb(255, 255, 255);
    display: none;
}
.menuicon i span {
    font-weight: 600;
}
    
/* Background Cover Image */
.cover {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(2, 42, 177, 0.8), rgba(13, 0, 88, 0.6));
    color: white;
}
.cover .information {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}
.information h3 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.63);
}
.information h3 span {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
}
.information h2 {
  
    font-size: 90px;
    line-height: 120px;
    color: rgb(228, 186, 49);
    letter-spacing: 10px;
}
.information h1 span {
    
    
    font-size: 80px;
    line-height: 100px;
    color: rgb(228, 186, 49);
    letter-spacing: 10px;
}
.information a {
    display: block;
    max-width: 350px;
    margin: 40px auto 0;
}
.information a button {
    padding: 8px 80px;
    cursor: pointer;
    letter-spacing: 5px;
    background-size: 200%;
    background-position: left;
    transition: .3s;
    border: 2px solid rgb(15, 15, 15);
    color: rgb(10, 10, 10);
    width: 100%;
}
.information a button:hover {
    background-position: right;
    color: rgb(71, 152, 228);
}



/* Services Section */
.service {
    width: 100%;
    padding: 100px 0;
    background-color: #F8F9FA;
    text-align: center;
    box-sizing: border-box;
}
.service h5 {
    color: rgb(228, 186, 49);
    letter-spacing: 2px;
    font-weight: 600;
}
.service h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 10px;
}
.service .details {
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
}
.details .info {
    padding: 0 15px;
}
.details .info .logo {
    padding: 34px;
    width: 45px;
    margin: 0 auto;
    background: linear-gradient(rgba(2, 42, 177, 0.8), rgba(13, 0, 88, 0.6));
    border-radius: 50%;
    color: white;
    font-size: 30px;
}
.details .info #head {
    padding: 20px 0 10px;
    color: black;
    font-weight: 500;
}

/* Footer */
footer {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    background: linear-gradient(rgba(2, 42, 177, 0.8), rgba(13, 0, 88, 0.6));
    text-align: center;
    padding: 15px 0;
}
footer p {
    font-size: 14px;
}
footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
footer a:hover {
    color: white;
}
footer a strong {
    font-size: 16px;
}